body {
	font-family: Arial;
	color: black;
}
h1 {
	font-family: Arial;
	font-weight: bold;
	color: black;
}
h2 {
	font-family: Arial;
	color: black;
}
h3 {
	font-family: Arial;
	color: black;
}
h4 {
	font-family: Arial;
	color: black;
}
h5 {
	font-family: Arial;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}
h6 {
	font-family: Arial;
	color: black;
}